html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
  background-color: var(--body-background);
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  @include for-size(desktop) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.main-1200 {
  @include for-size(desktop) {
    width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

ul {
  list-style: none;
}
