:root {
  --main-text-cl: #212121;
  --accent-text-cl: #2196f3;
  --grey: #757575;
  --white: #ffffff;
  --background: #2f303a;
  --footer: rgba(255, 255, 255, 0.6);
  --button: #f5f4fa;
  --body-background: #ffffff;
  --section-crew: #f5f4fa;
  --clients: #afb1b8;
}
