.header {
  box-sizing: border-box;
  background-color: var(--white);
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: left;
  border-bottom: 1px solid #ececec;
}
.link-logo-h {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
  color: var(--main-text-cl);
}
ul {
  list-style: none;
}
.header-items {
  display: flex;
  align-items: center;
}
